@using RocketLaunchTracker.Data
@model Launch

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="container-fluid">
<div class="row">
<div class="col-md-12 ">
    <div class="media">
        <div class="col-md-3">
            <img height="40" width="40" class="d-flex align-self-start" src="@Model.rocket.imageURL" alt="@Model.rocket.name">
        </div>
        <div class="col-md-6">
            <div class="media-body pl-3">
                @{
                    if (Model.location.pads.FirstOrDefault() != null && Model.location.pads.First().agencies != null && Model.location.pads.First().agencies.FirstOrDefault() != null)
                    {
                        <h2>@Model.location.pads.First().agencies.First().name</h2>
                    }
                }

                <h3>@Model.name</h3>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>@Model.location.name</span>
                </div>
                <div class="address">
                    @Model.windowstart >> @Model.windowend
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="far fa-flag"></i>
            <div class="status">
                Status: @Model.status
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    @* Rocket item *@
    <div class="col-lg-4 col-sm-6">
        <div class="card h-100">
            <img height="40" width="40" class="img-thumbnail" src="@Model.rocket.imageURL" alt="" />
            <div class="card-body">
                <h4 class="card-title">
                    Rocket
                </h4>
                <h3 class="card-title">
                    @Model.rocket.name
                </h3>
            </div>
        </div>
    </div>

    @* Location item *@
    <div class="col-lg-4 col-sm-6">
        <div class="card h-100">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
            <div class="card-body">
                <h4 class="card-title">
                    Location
                </h4>
                <h2>
                    @Model.location.name
                </h2>
            </div>
        </div>
    </div>

    @* Video item *@
    <div class="col-lg-4 col-sm-6">
        <div class="card h-100">
            <iframe width="100%" height="100%" src="@(Model.vidURL == null ? "https://www.youtube.com/embed/5TlrscfERDU" :  Model.vidURL)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="card-body">
                <h4 class="card-title">
                    Rocket launch
                </h4>
            </div>
        </div>
    </div>

    @* Agency item *@
    @{


        if (@Model.location.pads.FirstOrDefault()?.agencies?.Count > 0)
        {
            var agency = @Model.location.pads.First().agencies.First();
            <div class="col-lg-4 col-sm-6 ">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            Agency
                        </h4>
                        <h3 class="card-title">
                            @agency.name
                        </h3>
                        Useful links:
                        <ul>
                            @foreach (var url in agency.infoURLs)
                            {
                                <li><a href="@url">@url</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }

    @* Failed item *@
    @if (Model.status == 4)
    {
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        Fail reason
                    </h4>
                    <h3>
                        @Model.failreason
                    </h3>
                    <h4>Probability: @Model.probability</h4>
                </div>
            </div>
        </div>
    }

    @* Mission item *@
    @{
        var mission = Model.missions.FirstOrDefault();
        if (mission != null)
        {
            <div class="col-lg-4 col-sm-6 ">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">
                            Mission
                        </h2>
                        <h2 class="card-title">
                            <strong>@mission.name</strong>
                        </h2>
                        <p>
                            @mission.description
                        </p>
                        <h5>@mission.typeName</h5>
                    </div>
                </div>
            </div>


            
            @* Payload item *@
            if (mission.payloads.Count > 0)
             {
                 <div class="col-lg-4 col-sm-6">
                     <div class="card h-100">
                         <div class="card-body">
                             <h4 class="card-title">
                                 Payload
                             </h4>
                             <h2>
                                 @mission.payloads.First().name
                             </h2>
                         </div>
                     </div>
                 </div>
             }

        }
    }

</div>
</div>
