@model RocketLaunchTracker.Data.LaunchInfo
@{
    ViewData["Title"] = "Home Page";


    string GetStatusCssClass(int status)
    {
        switch (status)
        {
            case 1: return "blue";//"green";
            case 2: return "orange";// "red";
            case 3: return "green";// "sucess";
            case 4: return "red";// "failed";
        }

        return "green";
    }
}



<div class="clearfix"></div>
<section class="search-box">
    <div class="container-fluid">
        <div class="row" id="container-row">
            <div class="col-md-4 listing-block" id="launches">
                @foreach (var launch in Model.launches)
                {
                    <div class="media">
                        <div class="fav-box">
                            <div id="status" style="background: @GetStatusCssClass(launch.status);"></div>
                        </div>
                        <img id="launch-image" class="d-flex align-self-start" src="@launch.rocket.imageURL" alt="@launch.rocket.name">
                        <div class="media-body pl-3">
                            <div class="stats">
                                <span>@launch.location.name</span>
                            </div>
                            <div><strong>@launch.name</strong></div>
                            <div class="address">
                                <span>
                                    @Convert.ToDateTime(launch.windowstart.Replace("UTC", string.Empty).Trim())
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-8 map-box">
                <iframe width="100%" height="100%" 
                frameborder="0" scrolling="no"
                marginheight="0" marginwidth="0" 
                src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $('.listing-block').slimScroll({
                height: '500px'
            });
        });
    </script>
}